.coinPage_ {
  &btn {
    border: 1px solid #eee;
    button {
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
    }
  }
  &listGroup {
    padding: 0.8rem;
  }
  &nameEN {
    font-size: 12.5px;
    color: $good;
    margin-right: 2.4px;
  }
  &imgCoin {
    margin: 5px 0 -6px 4px;
  }
  &dar {
    border-radius: 90px;
    padding: 20px 0;
    & span {
      font-weight: bold;
    }
  }
  &icon {
    top: 4px !important;
    z-index: 10 !important;
  }
  &chart {
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  &star svg {
    margin: auto !important;
  }
}
