.coinPage_ {
  &arrow::before {
    content: '';
    display: inline-block;
    vertical-align: 1px;
    margin-left: 3px;
    border-top: 6px solid;
    border-left: 6px solid transparent;
    border-bottom: 0;
    border-right: 6px solid transparent;
    border-radius: 1px;
  }
  &day::before {
    transform: rotate(0.5turn);
    vertical-align: 2.4px;
  }
  &btn {
    border: 1px solid #eee;
    button {
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
    }
  }
  &item {
    padding: 0.8rem;
  }
  &nameEN {
    font-size: 12.5px;
    color: $good;
    margin-right: 2.4px;
  }
  &imgCoin {
    margin: 5px 0 -6px 4px;
  }
  &dar {
    border-radius: 90px;
    padding: 20px 0;
    & span {
      font-weight: bold;
    }
  }
  &star svg {
    margin: auto !important;
  }
}
