.app {
  width: 1200px;
}

@media screen and (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}

@media screen and (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}

@media screen and (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}

@media screen and (max-width: 575.98px) {
  .app {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

.img-bg {
  z-index: 1;
  height: 100% !important;
  transition: transform 0.35s linear;
}

.item:hover .img-bg {
  transform: scale(1.2);
}

.intro-item-caption {
  background: rgba(0, 0, 0, 0.4);
}

.dark .intro-item-caption {
  background: rgba(0, 0, 0, 0.5);
}

.footer {
  background: #191919;
  direction: ltr;
  & * {
    font-size: 14px;
  }
}

.footer-row {
  width: 100%;
  background: rgba(25, 25, 25, 0.9);
}

.bg-map {
  background: url('/static/images/map.png') no-repeat center;
}

.footer-col {
  float: left;
  margin-right: 30px;
  width: calc(calc(100% / 3) - 30px);
}

.footer-p {
  color: #ccc;
  line-height: 28px;
}

.footer-section-title {
  color: #f9b500;
  padding: 30px 0;
}

.footer-section-link-item {
  margin-bottom: 20px;
}

.footer-line {
  background: rgba(170, 170, 170, 0.2);
  height: 1px;
  margin-bottom: 20px;
}

.footer-section-link-item a {
  color: #ccc;
  font-size: 14px;
}

.footer-section-link-item a:hover {
  color: #f9b500;
}

.footer-section-link-item p {
  color: #ccc;
  font-size: 14px;
  padding-top: 15px;
}

@media screen and (max-width: 575.98px) {
  .footer-col {
    float: none;
    padding: 15px;
    width: calc(100% - 30px);
    margin-right: 0;
  }
}
