.layout_ {
  &head {
    height: 65px;
    padding: 0 20px;
    z-index: 10;
    border-bottom: 1px solid #0000001f;
    box-shadow: 0 0 7px 0 #0000001f;
  }
  &toggle {
    background: transparent;
    font-size: 28px;
  }
  &scrollTop {
    transition: all 0.4s ease;
    bottom: 15px;
    right: 15px;
    border-radius: 16px;
    z-index: 2;
    border: 1px #eee solid;
    box-shadow: 0 0 3px 0 #eee;
  }
  &links {
    transition: height 0.35s ease;
    & li {
      margin: 0 3px;
      padding: 5px 9px;
      border-radius: 10px;
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      &:nth-child(1) a svg {
        margin-top: -3px;
      }
      &:hover {
        background: rgba(5, 43, 97, 0.04);
      }
      & a {
        color: #333;
        font-size: 17px;
      }
    }
  }
  &divider,
  &dividerEn {
    height: 1.5rem;
  }
  &divider {
    margin: 1px 12px 0 6.8px;
  }
  &dividerEn {
    margin: 1px 6.8px 0 12px;
  }
  &profile {
    margin-left: 6px;
    margin-right: -3.3px;
  }
  &text {
    font-size: 12.6px;
  }
  &content {
    height: 64px;
  }
  &border {
    border-top: 1.5px #ddd solid;
  }
  &icon {
    font-size: 30px;
    color: $secondary;
    transition: color 0.45s ease-out;

    &:hover {
      color: black;
    }
  }
  &wrapper {
    z-index: 9;
    top: 65px;
  }
  &progress {
    &Bar {
      height: 5px;
    }
    &Main {
      width: 0;
      background: #4b5563;
    }
  }
}

.mui-1qmkd8i {
  padding: 6px 16px;

  img {
    width: 40px;
    object-fit: cover;
  }
}
.mui-16g0ei6 {
  padding: 8px;
  box-shadow: 0px 2px 1px #0000001a, 0px 0px 1px #00000040;
  border-radius: 8px;
  color: #001a3f;
}
.mui-pu6x1m {
  line-height: 1.75;
  padding: 8px;
  border-radius: 5px;

  &:hover {
    background: #0000000a;
  }
}
