.layout_ {
  &head {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 65px;
    padding: 0 20px;
    z-index: 50;
  }
  &logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &toggle {
    background: transparent;
    font-size: 28px;
  }
  &links {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    & .list {
      display: flex;
      align-items: center;
    }
    & li {
      margin: 0 12px;
      & a {
        color: #333;
        font-size: 17px;
      }
    }
  }
  &divider {
    background: #ccc !important;
    height: 1.5rem;
    margin: 0 12px;
  }
  &profile {
    margin-left: 6px;
    margin-right: -3.3px;
  }
  &text {
    font-size: 12.6px;
    color: $secondary !important;
  }
  &content {
    height: 64px;
  }
  &border {
    border: 1.5px #ddd solid;
  }
  &icon {
    font-size: 30px;
    color: $secondary;
    transition: color 0.45s ease-out;

    &:hover {
      color: black;
    }
  }
}
