.uiCoin_ {
  &arrow::before {
    content: '';
    display: inline-block;
    vertical-align: 1px;
    margin-left: 3px;
    border-top: 6px solid;
    border-left: 6px solid transparent;
    border-bottom: 0;
    border-right: 6px solid transparent;
    border-radius: 1px;
  }
  &day::before {
    transform: rotate(0.5turn);
    vertical-align: 2.4px;
  }
  &th {
    margin-right: 25px;
  }
  &select {
    min-width: 150px;
  }
  &nameEN {
    color: $good;
    margin-right: 2.4px;
    line-height: 1.5;
    margin-top: 1px;
  }
  &toman {
    font-size: 0.625rem;
    font-weight: 400;
    color: #97a0af;
    letter-spacing: normal;
  }
  &numbers {
    font-size: 16px !important;
    transform: translateY(40.1%);
    letter-spacing: -0.9px;
    span {
      font-weight: 600 !important;
    }
  }
  &numEnMode {
    letter-spacing: normal;
  }
  &star {
    margin-top: 15px;
  }
  &width65 {
    width: 65px;
  }
  &id {
    font-size: 12px;
    margin-right: 10px;
  }
  &nameCoin {
    transform: translateY(3%);
    color: #1e2f38;
    margin: 0 6px 0 0;
    line-height: 1.6;
    font-size: 15.2px;
    margin-bottom: 2px;
  }
  &search {
    border: 1px solid #d9d9d9;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: $good;

    &:focus {
      color: black;
      box-shadow: 0 0 3px 0 $secondary;
      border: 1px solid $secondary;
    }
  }
  &searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #d9d9d9;
    background: #d9d9d9;
    border-radius: 0 5px 5px 0;
    transition: all 0.6s;
    font-size: 20px;

    &:hover {
      background: $good;
    }
  }
}
