.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: right;
  background: white;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color ease-in-out, background ease-in-out,
    border-color ease-in-out, box-shadow ease-in-out, border-radius ease;
  transition-duration: 0.15s;

  &:not(.collapsed) {
    color: #0c63e4;
    background: #e7f1ff;
    box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6;
  }
  &:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }
  &::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: auto;
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }
  &:hover {
    z-index: 2;
  }
  &:focus {
    z-index: 3;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}
.accordion-header {
  margin-bottom: 0;
}
.accordion-item {
  color: #212529;
  background: white;
  border: 1px solid #dee2e6;

  &:first-of-type {
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
  }
  &:first-of-type .accordion-button {
    border-top-right-radius: calc(0.375rem - 1px);
    border-top-left-radius: calc(0.375rem - 1px);
  }
  &:not(:first-of-type) {
    border-top: 0;
  }
  &:last-of-type {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
  &:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: calc(0.375rem - 1px);
    border-bottom-right-radius: calc(0.375rem - 1px);
  }
  &:last-of-type .accordion-collapse {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
}
.accordion-body {
  padding: 1rem 1.25rem;
  & p {
    font-size: 14px;
    line-height: 1.75;
    color: #42526e;
  }
}
.accordion_transition {
  transition: height 0.35s ease;
}
