.star_an {
  animation: starAn 0.9s both;
  opacity: 1;
}

.auth_an {
  animation: authAn 0.9s both;
  opacity: 1;
}

@keyframes starAn {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes authAn {
  0% {
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    transform: none;
  }
}

.h1Page {
  animation: h1PageAn 0.8s both;
  opacity: 1;
}

@keyframes h1PageAn {
  0%,
  20%,
  53%,
  80%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0px, 0px, 0px);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -30px, 0px);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0px, -15px, 0px);
  }
  90% {
    transform: translate3d(0px, -4px, 0px);
  }
}

.animation-img {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
