.my_btn {
  line-height: 1.5715;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 32px;
  padding: 4px 15px;
  border-radius: 2px;
  border: 1px solid #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 #0000001f;
  box-shadow: 0 2px 0 #0000000d;

  &:hover {
    border-color: #40a9ff;
    background: #40a9ff;
  }
}

.transition-btn {
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-404 {
  color: #fff !important;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px rgba(101, 123, 225, 0.2);
  &:hover {
    text-decoration: none;
  }
  &:hover::after {
    transform: scaleY(1);
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5569c6;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}
