.divider {
  white-space: nowrap;
  border-top-color: #0000000f;
  margin: 24px 0;

  &:before,
  &::after {
    content: '';
    width: 50%;
    border-top: 1px solid transparent;
    border-top-color: inherit;
    transform: translateY(50%);
  }
}
