.spinner-grow {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-grow;
  background: currentcolor;
  opacity: 0;
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
