.SwitchRoot {
  width: 42px;
  height: 25px;
  background: rgba(0, 0, 0, 0.439);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.141);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}
.SwitchRoot[data-state='checked'] {
  background: black;
}

.SwitchThumb {
  width: 21px;
  height: 21px;
  margin-top: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.141);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(-15px);
}
.en .mode .SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}
