.table {
  --bs-table-accent-bg: transparent;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  & > :not(caption) > * > * {
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  & > thead {
    vertical-align: bottom;
  }
}

.text- {
  &red {
    color: $red !important;
  }
  &green {
    color: $green !important;
  }
}

.dark .filter-invert-dark {
  filter: invert(1);
}

.dark .filter-invert-lite {
  filter: invert(0);
}

.filter- {
  &hue-rotate img {
    filter: hue-rotate(45deg) !important;
  }
  &hue-rotate-lg img {
    filter: hue-rotate(150deg) !important;
  }
  &hue-rotate-xl img {
    filter: hue-rotate(205deg) !important;
  }
  &invert img {
    filter: invert(1) !important;
  }
  &grayscale img {
    filter: grayscale(1) !important;
  }
  &sepia img {
    filter: sepia(1) !important;
  }
  &saturate img {
    filter: saturate(0.5) !important;
  }
}

.dark .filter-invert > img {
  filter: invert(0) !important;
}

.background-color {
  overflow-x: auto;
  border-radius: 8px;
  padding: 18px 7px;
  box-shadow: 0 0 7px 0 #eaeff4;
  border: 1px solid #ecf0f4;
}

.hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f4f6fd;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

.tr {
  border-bottom: 1px solid #ecf1f9;
  display: table-row;
  vertical-align: middle;
  height: 79px;

  th {
    border-bottom: 1px solid #ecf1f9;
    padding: 4px 4px;
    font-size: 12px;
    color: $pro !important;
    line-height: 1.8 !important;
  }
  td {
    padding: 0 4px;
    text-align: center;
    font-size: 15px !important;
  }
}
