.font- {
  &18 {
    font-size: 18px !important;
  }
  &17 {
    font-size: 17px !important;
  }
  &15-5 {
    font-size: 15.5px !important;
  }
  &15 {
    font-size: 15px !important;
  }
  &13 {
    font-size: 13px !important;
  }
}

.text- {
  &gold {
    color: #fde047;
  }
  &good {
    color: $good !important;
  }
  &red {
    color: rgb(235, 71, 99) !important;
  }
  &green {
    color: rgb(52, 178, 136);
  }
}

.hover\: {
  & > * {
    transition: color 0.4s ease-in-out;
  }
  transition: color 0.4s ease-in-out;
  &green:hover {
    color: rgb(52, 178, 136);
  }
  &red:hover {
    color: rgb(235, 71, 99) !important;
  }
  &secondary:hover {
    color: $secondary !important;
  }
}

.d-contents {
  display: contents !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.background-color {
  overflow: auto;
  border-radius: 8px;
  padding: 18px 7px;
  box-shadow: 0 0 7px 0 #eaeff4;
  border: 1px solid #ecf0f4;
}

.nav_page {
  --bs-breadcrumb-divider: '~';
}

.transition {
  transition: color 0.4s ease-in-out !important;
}

.hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f4f6fd;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

.h1_page {
  font-weight: 700;
  line-height: 1.8;
}

// tables
.table {
  width: 100%;
  & > :not(caption) > * > * {
    border-bottom-width: 0px;
  }
}

.tr {
  border-bottom: 1px solid #ecf1f9;
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0;
  height: 80px;

  th {
    padding: 4px 4px;
    font-size: 12px;
    color: $pro !important;
    line-height: 1.8 !important;
  }
  td {
    padding: 0 4px;
    text-align: center;
    font-size: 15px !important;
  }
}
