@media (min-width: 1199px) {
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media (min-width: 600px) {
  .auth_login {
    width: 550px;
  }
}

@media (min-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media (max-width: 576px) {
  .uiCoin_ {
    &th_id_star {
      margin-right: -13px;
    }
    &nameEN {
      color: #5a5d60;
      line-height: 2.9;
      font-size: 12.5px !important;
    }
    &numbers {
      transform: translateY(55%);
      font-size: 14.5px !important;
    }
    &th {
      margin-right: -13.5px;
    }
  }
  .layout_ {
    &links {
      position: absolute;
      top: 65px;
      right: 0;
      height: 0;
      background: white;
      width: 100vw;
      overflow: hidden;
      & ul li {
        padding: 15px 20px;
      }
    }
    &active {
      height: 12rem;
      border-bottom: 1px solid #eee;
    }
    .star_home {
      width: 150px;
    }
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .uiCoin_nameEN {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .uiCoin_select {
    flex-direction: column;
  }
  .container-xl {
    padding-left: calc(var(--bs-gutter-x) * 0.2);
    padding-right: calc(var(--bs-gutter-x) * 0.2);
  }
  .tr th {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .notFond_content {
    width: 260px;
    height: auto;
    margin-bottom: 15px;
  }
  .uiCoin_th {
    margin-right: 12px;
  }
}
