@media (min-width: 1199px) {
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 600px) {
  .auth_login {
    width: 550px;
  }
}

@media (max-width: 575px) {
  .w-xm-100 {
    width: 100% !important;
  }
  .tr th {
    letter-spacing: -0.2px;
    font-size: 10px;
  }
  .uiCoin_ {
    &nameEN {
      color: #5a5d60;
      line-height: 2.9;
      font-size: 12.5px !important;
      margin-top: 0;
    }
    &search {
      max-width: revert;
    }
    &numbers {
      font-size: 14.5px !important;
    }
  }
  .d-xm-none {
    display: none !important;
  }
  .layout_ {
    &links {
      position: absolute;
      top: 65px;
      right: 0;
      height: 0;
      background: white;
      width: 100vw;
      overflow: hidden;
    }
    &active {
      border-bottom: 1px solid #eee;
    }
  }
  .star_home {
    width: 150px;
  }
}

@media (min-width: 576px) {
  .layout_dup {
    height: 70px;

    & .layout_menu {
      inset: 10px auto auto -20px;
      width: 150px;
    }
    &EN .layout_menu {
      inset: 10px -20px auto auto !important;
    }
  }
  .layout_col {
    height: auto !important;
  }
  .uiCoin_ {
    &idTh {
      width: 11%;
    }
    &coin {
      width: 25%;
    }
    &price {
      width: 24%;
    }
    &change {
      width: 20%;
    }
    &usd {
      width: 20%;
    }
  }
}

@media (min-width: 768px) {
  .uiCoin_ {
    &idTh {
      width: 7%;
    }
    &coin {
      width: 26%;
    }
    &price {
      width: 24%;
    }
    &change {
      width: 22%;
    }
    &usd {
      width: 21%;
    }
  }
}

@media (min-width: 992px) {
  .uiCoin_ {
    &idTh {
      width: 6%;
    }
    &coin {
      width: 22%;
    }
    &price {
      width: 18.3%;
    }
    &change {
      width: 18.2%;
    }
    &usd {
      width: 18%;
    }
    &change7 {
      width: 17.5%;
    }
  }
}

@media (max-width: 450px) {
  .container-xl {
    padding-left: calc(1.5rem * 0.2);
    padding-right: calc(1.5rem * 0.2);
  }
}

@media (max-width: 350px) {
  .errorImage {
    width: 260px;
    margin-bottom: 15px;
  }
}
