::-moz-selection {
  color: white;
  background: #f43f5e;
}
::selection {
  color: white;
  background: #f43f5e;
}
// ::-webkit-horizontal,
// ::-webkit-scrollbar {
//   width: 6px;
//   padding: 0;
//   background: transparent;
// }
// ::-webkit-scrollbar {
//   height: 4px;
// }
// ::-webkit-scrollbar-thumb {
//   width: 6px;
//   background: #f43f5e;
//   border-radius: 4px;
//   box-shadow: inset 0 0 4px rgb(0 0 0 / 5%);
// }
// ::-webkit-scrollbar-track {
//   background: white;
// }

* {
  padding: 0;
  border: 0;
  box-shadow: none;
  font-family: 'vazir', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: $dark;
  margin: 0;
  overflow-x: hidden;
  font-size: 14.5px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background: #fafbfc;
}

a {
  color: inherit;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  &:hover,
  &:active {
    color: #096dd9d0;
  }
}

img,
svg {
  vertical-align: middle;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-right: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

ul,
li,
ol {
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
