:root {
  --artdeco-reset-link-text-decoration-none: none;
  --artdeco-reset-link-background-color-transparent: transparent;
  --artdeco-reset-link-border-zero: 0;
  --artdeco-reset-link-text-decoration-underline: underline;
  --artdeco-reset-link-color-blue8: var(--blue-70, #006097);
  --artdeco-reset-link-color-blue9: var(--blue-80, #004b7c);
}
::-moz-selection {
  background: #7fb8ff;
  color: white;
}
::selection {
  background: #7fb8ff;
  color: white;
}
// ::-webkit-horizontal,
// ::-webkit-scrollbar {
//   width: 4px;
//   padding: 0;
//   background: transparent;
// }
// ::-webkit-scrollbar-thumb {
//   width: 4px;
//   background: #f43f5e;
//   border-radius: 9px;
//   box-shadow: inset 0 0 4px rgb(0 0 0 / 5%);
// }
// ::-webkit-scrollbar-track {
//   background: white;
// }
@viewport {
  zoom: 1;
  min-width: extend-to-zoom;
  max-width: 100vw;
}

* {
  padding: 0;
  border: 0;
  box-shadow: none;
  font-family: 'vazir', sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: $dark;
  margin: 0;
  overflow-x: hidden;
  font-size: 14.5px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background: #fafbfc;
}

.dark #__next {
  filter: invert(0.88);
  background: hsl(0, 0%, 90%);
}

a {
  color: inherit;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  text-decoration: var(--artdeco-reset-link-text-decoration-none);
  background-color: var(--artdeco-reset-link-background-color-transparent);
  border: var(--artdeco-reset-link-border-zero);
  &:hover,
  &:active {
    color: #096dd9d0;
  }
}

a:focus,
a:hover {
  text-decoration: var(--artdeco-reset-link-text-decoration-underline);
  color: var(--artdeco-reset-link-color-blue8);
}
a:active {
  color: var(--artdeco-reset-link-color-blue9);
}
a,
a:hover {
  color: var(--color-action);
}
a:active,
a:focus,
a:visited:focus {
  color: var(--color-action-active);
}
a:visited,
a:visited:hover {
  color: var(--color-text-link-visited);
}
a:visited:active {
  color: var(--color-text-link-visited-active);
}

img,
svg {
  vertical-align: middle;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-right: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

ul,
li,
ol {
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
